<div class="alert alert-info"; style="border-left: 7px solid SteelBlue">
<h5>üéì <font color="SteelBlue">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Å—Ç—É–¥–µ–Ω—Ç–∞ (—Å–∏–Ω–∏–π)</font></h5>    

–ù–∞–ø–∏—à–∏ –∑–¥–µ—Å—å —Å–≤–æ–∏ –º—ã—Å–ª–∏ –∏ –∏–¥–µ–∏ –ø–æ –ø–æ–≤–æ–¥—É –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è —Ä–µ–≤—å—é–µ—Ä–∞.

</div>

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –∫—Ä–µ–¥–∏—Ç–æ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤ –≤ –±–∞–Ω–∫–µ

–í–æ –≤—Ç–æ—Ä–æ–π —á–∞—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã –≤—ã–ø–æ–ª–Ω–∏—Ç–µ —à–∞–≥–∏ 3 –∏ 4. –ò—Ö –≤—Ä—É—á–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∏—Ç —Ä–µ–≤—å—é–µ—Ä.
–ß—Ç–æ–±—ã –≤–∞–º –Ω–µ –ø—Ä–∏—à–ª–æ—Å—å –ø–∏—Å–∞—Ç—å –∫–æ–¥ –∑–∞–Ω–æ–≤–æ –¥–ª—è —à–∞–≥–æ–≤ 1 –∏ 2, –º—ã –¥–æ–±–∞–≤–∏–ª–∏ –∞–≤—Ç–æ—Ä—Å–∫–∏–µ —Ä–µ—à–µ–Ω–∏—è –≤ —è—á–µ–π–∫–∏ —Å –∫–æ–¥–æ–º.

## –û—Ç–∫—Ä–æ–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞–Ω–Ω—ã—Ö

**–ó–∞–¥–∞–Ω–∏–µ 1. –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas. –°—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ csv-—Ñ–∞–π–ª–∞ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `data`. –ü—É—Ç—å –∫ —Ñ–∞–π–ª—É:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**–ó–∞–¥–∞–Ω–∏–µ 2. –í—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 20 —Å—Ç—Ä–æ—á–µ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `data` –Ω–∞ —ç–∫—Ä–∞–Ω.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
10,2,-4171.483647,36,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,113943.491460,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
11,0,-792.701887,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,77069.234271,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
13,0,-1846.641941,54,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,130458.228857,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
14,0,-1844.956182,56,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,1,165127.911772,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
15,1,-972.364419,26,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,116820.904450,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
16,0,-1719.934226,35,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,289202.704229,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
17,0,-2369.999720,33,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,90410.586745,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
18,0,400281.136913,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞,2,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,56823.777243,–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
19,0,-10038.818549,48,–°–†–ï–î–ù–ï–ï,1,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,242831.107982,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è

**–ó–∞–¥–∞–Ω–∏–µ 3. –í—ã–≤–µ–¥–∏—Ç–µ –æ—Å–Ω–æ–≤–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤

**–ó–∞–¥–∞–Ω–∏–µ 4. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –∫–æ–º–±–∏–Ω–∞—Ü–∏—é –¥–≤—É—Ö –º–µ—Ç–æ–¥–æ–≤.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**–ó–∞–¥–∞–Ω–∏–µ 5. –í –¥–≤—É—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –µ—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è. –û–¥–∏–Ω –∏–∑ –Ω–∏—Ö ‚Äî `days_employed`. –ü—Ä–æ–ø—É—Å–∫–∏ –≤ —ç—Ç–æ–º —Å—Ç–æ–ª–±—Ü–µ –≤—ã –æ–±—Ä–∞–±–æ—Ç–∞–µ—Ç–µ –Ω–∞ —Å–ª–µ–¥—É—é—â–µ–º —ç—Ç–∞–ø–µ. –î—Ä—É–≥–æ–π —Å—Ç–æ–ª–±–µ—Ü —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ ‚Äî `total_income` ‚Äî —Ö—Ä–∞–Ω–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –¥–æ—Ö–æ–¥–∞—Ö. –ù–∞ —Å—É–º–º—É –¥–æ—Ö–æ–¥–∞ —Å–∏–ª—å–Ω–µ–µ –≤—Å–µ–≥–æ –≤–ª–∏—è–µ—Ç —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏, –ø–æ—ç—Ç–æ–º—É –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —ç—Ç–æ–º —Å—Ç–æ–ª–±—Ü–µ –Ω—É–∂–Ω–æ –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–∏–ø—É –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `income_type`. –ù–∞–ø—Ä–∏–º–µ—Ä, —É —á–µ–ª–æ–≤–µ–∫–∞ —Å —Ç–∏–ø–æ–º –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ `—Å–æ—Ç—Ä—É–¥–Ω–∏–∫` –ø—Ä–æ–ø—É—Å–∫ –≤ —Å—Ç–æ–ª–±—Ü–µ `total_income` –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –∑–∞–ø–æ–ª–Ω–µ–Ω –º–µ–¥–∏–∞–Ω–Ω—ã–º –¥–æ—Ö–æ–¥–æ–º —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π —Å —Ç–µ–º –∂–µ —Ç–∏–ø–æ–º.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –∞–Ω–æ–º–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

**–ó–∞–¥–∞–Ω–∏–µ 6. –í –¥–∞–Ω–Ω—ã—Ö –º–æ–≥—É—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –∞—Ä—Ç–µ—Ñ–∞–∫—Ç—ã (–∞–Ω–æ–º–∞–ª–∏–∏) ‚Äî –∑–Ω–∞—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –æ—Ç—Ä–∞–∂–∞—é—Ç –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –∏ –ø–æ—è–≤–∏–ª–∏—Å—å –ø–æ –∫–∞–∫–æ–π-—Ç–æ –æ—à–∏–±–∫–µ. —Ç–∞–∫–∏–º –∞—Ä—Ç–µ—Ñ–∞–∫—Ç–æ–º –±—É–¥–µ—Ç –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π —Ç—Ä—É–¥–æ–≤–æ–≥–æ —Å—Ç–∞–∂–∞ –≤ —Å—Ç–æ–ª–±—Ü–µ `days_employed`. –î–ª—è —Ä–µ–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ. –û–±—Ä–∞–±–æ—Ç–∞–π—Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —ç—Ç–æ–º —Å—Ç–æ–ª–±—Ü–µ: –∑–∞–º–µ–Ω–∏—Ç–µ –≤—Å–µ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–º–∏ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**–ó–∞–¥–∞–Ω–∏–µ 7. –î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –≤—ã–≤–µ–¥–∏—Ç–µ –º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ç—Ä—É–¥–æ–≤–æ–≥–æ —Å—Ç–∞–∂–∞ `days_employed` –≤ –¥–Ω—è—Ö.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π        366413.652744
–≤ –¥–µ–∫—Ä–µ—Ç–µ            3296.759962
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π          2689.368353
–∫–æ–º–ø–∞–Ω—å–æ–Ω            1547.382223
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä          365213.306266
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å       520.848083
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫            1574.202821
—Å—Ç—É–¥–µ–Ω—Ç               578.751554
Name: days_employed, dtype: float64

–£ –¥–≤—É—Ö —Ç–∏–ø–æ–≤ (–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–µ –∏ –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä—ã) –ø–æ–ª—É—á–∞—Ç—Å—è –∞–Ω–æ–º–∞–ª—å–Ω–æ –±–æ–ª—å—à–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è. –ò—Å–ø—Ä–∞–≤–∏—Ç—å —Ç–∞–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å–ª–æ–∂–Ω–æ, –ø–æ—ç—Ç–æ–º—É –æ—Å—Ç–∞–≤—å—Ç–µ –∏—Ö –∫–∞–∫ –µ—Å—Ç—å. –¢–µ–º –±–æ–ª–µ–µ —ç—Ç–æ—Ç —Å—Ç–æ–ª–±–µ—Ü –Ω–µ –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –≤–∞–º –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è.

**–ó–∞–¥–∞–Ω–∏–µ 8. –í—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–µ—á–µ–Ω—å —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**–ó–∞–¥–∞–Ω–∏–µ 9. –í —Å—Ç–æ–ª–±—Ü–µ `children` –µ—Å—Ç—å –¥–≤–∞ –∞–Ω–æ–º–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è. –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è —Ç–∞–∫–∏–µ –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**–ó–∞–¥–∞–Ω–∏–µ 10. –ï—â—ë —Ä–∞–∑ –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–µ—á–µ–Ω—å —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ `children`, —á—Ç–æ–±—ã —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –∞—Ä—Ç–µ—Ñ–∞–∫—Ç—ã —É–¥–∞–ª–µ–Ω—ã.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ (–ø—Ä–æ–¥–æ–ª–∂–µ–Ω–∏–µ)

**–ó–∞–¥–∞–Ω–∏–µ 11. –ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ `days_employed` –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –ø–æ –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**–ó–∞–¥–∞–Ω–∏–µ 12. –£–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –≤—Å–µ –ø—Ä–æ–ø—É—Å–∫–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω—ã. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ —Å–µ–±—è –∏ –µ—â—ë —Ä–∞–∑ –≤—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ —Å –ø–æ–º–æ—â—å—é –¥–≤—É—Ö –º–µ—Ç–æ–¥–æ–≤.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö

**–ó–∞–¥–∞–Ω–∏–µ 13. –ó–∞–º–µ–Ω–∏—Ç–µ –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–æ–ª–±—Ü–µ `total_income` –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

**–ó–∞–¥–∞–Ω–∏–µ 14. –û–±—Ä–∞–±–æ—Ç–∞–π—Ç–µ –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –≤ —Å—Ç–æ–ª–±—Ü–µ `education`. –í —ç—Ç–æ–º —Å—Ç–æ–ª–±—Ü–µ –µ—Å—Ç—å –æ–¥–Ω–∏ –∏ —Ç–µ –∂–µ –∑–Ω–∞—á–µ–Ω–∏—è, –Ω–æ –∑–∞–ø–∏—Å–∞–Ω–Ω—ã–µ –ø–æ-—Ä–∞–∑–Ω–æ–º—É: —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∑–∞–≥–ª–∞–≤–Ω—ã—Ö –∏ —Å—Ç—Ä–æ—á–Ω—ã—Ö –±—É–∫–≤. –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –∏—Ö –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã.**

In [14]:
data['education'] = data['education'].str.lower()

**–ó–∞–¥–∞–Ω–∏–µ 15. –í—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫-–¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö. –ï—Å–ª–∏ —Ç–∞–∫–∏–µ —Å—Ç—Ä–æ–∫–∏ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç, —É–¥–∞–ª–∏—Ç–µ –∏—Ö.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

**–ó–∞–¥–∞–Ω–∏–µ 16. –ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –¥–∏–∞–ø–∞–∑–æ–Ω–æ–≤, —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –Ω–∏–∂–µ, —Å–æ–∑–¥–∞–π—Ç–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ `data` —Å—Ç–æ–ª–±–µ—Ü `total_income_category` —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏:**

- 0‚Äì30000 ‚Äî `'E'`;
- 30001‚Äì50000 ‚Äî `'D'`;
- 50001‚Äì200000 ‚Äî `'C'`;
- 200001‚Äì1000000 ‚Äî `'B'`;
- 1000001 –∏ –≤—ã—à–µ ‚Äî `'A'`.


**–ù–∞–ø—Ä–∏–º–µ—Ä, –∫—Ä–µ–¥–∏—Ç–æ–ø–æ–ª—É—á–∞—Ç–µ–ª—é —Å –¥–æ—Ö–æ–¥–æ–º 25000 –Ω—É–∂–Ω–æ –Ω–∞–∑–Ω–∞—á–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏—é `'E'`, –∞ –∫–ª–∏–µ–Ω—Ç—É, –ø–æ–ª—É—á–∞—é—â–µ–º—É 235000, ‚Äî `'B'`. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é —Å –∏–º–µ–Ω–µ–º `categorize_income()` –∏ –º–µ—Ç–æ–¥ `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**–ó–∞–¥–∞–Ω–∏–µ 17. –í—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–µ—á–µ–Ω—å —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ü–µ–ª–µ–π –≤–∑—è—Ç–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `purpose`.**

In [19]:
data['purpose'].unique()

array(['–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è', '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
       '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã',
       '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏', '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
       '–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
       '–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–∂–∏–ª—å–µ',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–∞–≤—Ç–æ–º–æ–±–∏–ª–∏',
       '–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º', '—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
       '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '—Å–≤–∞–¥—å–±–∞',
       '–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', '–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',
       '—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å', '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
       '–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',
       '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏', '–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è', '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é',
       '–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º'], dtype=object)

**–ó–∞–¥–∞–Ω–∏–µ 18. –°–æ–∑–¥–∞–π—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `purpose` —Å—Ñ–æ—Ä–º–∏—Ä—É–µ—Ç –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `purpose_category`, –≤ –∫–æ—Ç–æ—Ä—ã–π –≤–æ–π–¥—É—Ç —Å–ª–µ–¥—É—é—â–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏:**

- `'–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'`,
- `'–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'`,
- `'–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'`,
- `'–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'`.

**–ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ `purpose` –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –ø–æ–¥—Å—Ç—Ä–æ–∫–∞ `'–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è'`, —Ç–æ –≤ —Å—Ç–æ–ª–±—Ü–µ `purpose_category` –¥–æ–ª–∂–Ω–∞ –ø–æ—è–≤–∏—Ç—å—Å—è —Å—Ç—Ä–æ–∫–∞ `'–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'`.**

**–ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é —Å –∏–º–µ–Ω–µ–º `categorize_purpose()` –∏ –º–µ—Ç–æ–¥ `apply()`. –ò–∑—É—á–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `purpose` –∏ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–∏–µ –ø–æ–¥—Å—Ç—Ä–æ–∫–∏ –ø–æ–º–æ–≥—É—Ç –≤–∞–º –ø—Ä–∞–≤–∏–ª—å–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏—é.**

In [20]:
def categorize_purpose(row):
    try:
        if '–∞–≤—Ç–æ–º' in row:
            return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
        elif '–∂–∏–ª' in row or '–Ω–µ–¥–≤–∏–∂' in row:
            return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
        elif '—Å–≤–∞–¥' in row:
            return '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'
        elif '–æ–±—Ä–∞–∑–æ–≤' in row:
            return '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
    except:
        return '–Ω–µ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### –®–∞–≥ 3. –ò—Å—Å–ª–µ–¥—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

#### 3.1 –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [22]:
display(data.groupby('children')['debt'].agg(['count', 'sum', 'mean']))

          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

In [23]:
children_data = {'children_cat_id': [0, 1, 2, 3, 4, 5],
                 'children_cat_name': ['–ù–µ—Ç –¥–µ—Ç–µ–π', '–û–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫', '–î–≤–æ–µ –¥–µ—Ç–µ–π', 
                                       '–¢—Ä–æ–µ –¥–µ—Ç–µ–π', '–ß–µ—Ç–≤–µ—Ä–æ –¥–µ—Ç–µ–π', '–ü—è—Ç–µ—Ä–æ –¥–µ—Ç–µ–π']}
children_columns = ['children_cat_id', 'children_cat_name']
children_dict = pd.DataFrame(data = children_data, columns = children_columns)
children_dict

   children_cat_id children_cat_name
0                0         –ù–µ—Ç –¥–µ—Ç–µ–π
1                1      –û–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫
2                2        –î–≤–æ–µ –¥–µ—Ç–µ–π
3                3        –¢—Ä–æ–µ –¥–µ—Ç–µ–π
4                4     –ß–µ—Ç–≤–µ—Ä–æ –¥–µ—Ç–µ–π
5                5      –ü—è—Ç–µ—Ä–æ –¥–µ—Ç–µ–π

In [24]:
def set_children_cat_id(children):
        
    if children == 0:
        return 0
    elif children == 1:
        return 1
    elif children == 2:
        return 2
    elif children == 3:
        return 3
    elif children == 4:
        return 4
    else:
        return 5

data['children_cat_id'] = data['children'].apply(set_children_cat_id)

In [25]:
children_debt = data.merge(children_dict, on='children_cat_id', how='left')[['children_cat_id', 
                                                                             'children_cat_name', 
                                                                             'debt']]
 
children_debt_pivot = children_debt.pivot_table(index = 'children_cat_name', columns = 'debt', 
                                                values = 'children_cat_id', aggfunc = 'count')

children_debt_pivot.columns = ['in total', 'debtors']
children_debt_pivot['rate'] = (children_debt_pivot['debtors'] / (children_debt_pivot['in total'] + children_debt_pivot['debtors']))*100
children_debt_pivot.sort_values(by='rate')

                   in total  debtors      rate
children_cat_name
–ù–µ—Ç –¥–µ—Ç–µ–π           13028.0   1063.0  7.543822
–¢—Ä–æ–µ –¥–µ—Ç–µ–π            303.0     27.0  8.181818
–û–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫         4364.0    444.0  9.234609
–î–≤–æ–µ –¥–µ—Ç–µ–π           1858.0    194.0  9.454191
–ß–µ—Ç–≤–µ—Ä–æ –¥–µ—Ç–µ–π          37.0      4.0  9.756098
–ü—è—Ç–µ—Ä–æ –¥–µ—Ç–µ–π            9.0      NaN       NaN

**–í—ã–≤–æ–¥:** –û—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –¥–µ—Ç–µ–π –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ –≤–ª–∏—è–µ—Ç –Ω–∞ –≤–æ–∑–≤—Ä–∞—Ç –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫.

#### 3.2 –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [26]:
family_status_dict = data[['family_status', 'family_status_id']].drop_duplicates().reset_index(drop=True)
family_status_dict

           family_status  family_status_id
0        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
1       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
2         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞                 2
3              –≤ —Ä–∞–∑–≤–æ–¥–µ                 3
4  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º                 4

In [27]:
data = data.drop(['family_status'], axis = 1)

In [28]:
family_status_debt = data.merge(family_status_dict, on='family_status_id', how='left')[['family_status_id', 
                                                                             'family_status', 
                                                                             'debt']]
 
family_status_pivot = family_status_debt.pivot_table(index = 'family_status', columns = 'debt', 
                                                values = 'family_status_id', aggfunc = 'count')

family_status_pivot.columns = ['in total', 'debtors']
family_status_pivot['rate'] = (family_status_pivot['debtors'] / (family_status_pivot['in total'] + family_status_pivot['debtors']))*100
family_status_pivot.sort_values(by='rate')

                       in total  debtors      rate
family_status
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞              888       63  6.624606
–≤ —Ä–∞–∑–≤–æ–¥–µ                  1105       84  7.064760
–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º           11334      927  7.560558
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫           3749      385  9.313014
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º      2523      273  9.763948

**–í—ã–≤–æ–¥:** –û—Ñ–∏—Ü–∏–∞–ª—å–Ω–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–Ω—ã–µ –æ—Ç–Ω–æ—à–µ–Ω–∏—è, –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ –≤–ª–∏—é—Ç –Ω–∞ –≤–æ–∑–≤—Ä–∞—Ç –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫.

#### 3.3 –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [29]:
data['total_income_cat_name'] = pd.qcut(data['total_income'], q=6, precision=0)
total_income_dict = data['total_income_cat_name'].value_counts().reset_index()
total_income_dict = total_income_dict.drop('total_income_cat_name', axis=1)
total_income_dict.columns = ['total_income_cat_name']
total_income_dict = total_income_dict.sort_values('total_income_cat_name').reset_index(drop = True)
total_income_dict['total_income_cat_id'] = total_income_dict.index
total_income_dict

   total_income_cat_name  total_income_cat_id
0                   3427                    0
1                   3555                    1
2                   3555                    2
3                   3556                    3
4                   3566                    4
5                   3672                    5

In [30]:
data = data.merge(total_income_dict, on='total_income_cat_name', how='left')
customer_solvency = data.drop('total_income_cat_name', axis=1)

In [31]:
total_income_debt = data.merge(total_income_dict, 
                                on='total_income_cat_name', how='left')[['total_income_cat_name',
                                                                   'total_income',
                                                                   'debt']]
 
total_income_pivot = data.pivot_table(index = 'total_income_cat_name', columns = 'debt', 
                                                values = 'total_income', aggfunc = 'count')

total_income_pivot.columns = ['in total', 'debtors']
total_income_pivot['rate'] = (total_income_pivot['debtors'] / (total_income_pivot['in total'] + total_income_pivot['debtors']))*100
total_income_pivot.sort_values(by='rate')

                       in total  debtors      rate
total_income_cat_name
(228893.0, 2265604.0]      3306      249  7.004219
(20666.0, 92092.0]         3271      285  8.014623
(172357.0, 228893.0]       3151      276  8.053691
(92092.0, 119218.0]        3260      295  8.298172
(142594.0, 172357.0]       3266      300  8.412787
(119218.0, 142594.0]       3345      327  8.905229

**–í—ã–≤–æ–¥:** –í —Ü–µ–ª–æ–º –¥–∞–Ω–Ω—ã–µ –Ω–µ —Å–∏–ª—å–Ω–æ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è —Å –∏–∑–º–µ–Ω–µ–Ω–∏–µ–º —É—Ä–æ–≤–Ω—è –¥–æ—Ö–æ–¥–æ–≤ (–≤ –ø—Ä–µ–¥–µ–ª–∞—Ö 2%).

In [32]:
total_income_pivot = data.pivot_table(index = 'total_income_category', columns = 'debt', 
                                                values = 'total_income', aggfunc = 'count')

total_income_pivot.columns = ['in total', 'debtors']
total_income_pivot['rate'] = (total_income_pivot['debtors'] / (total_income_pivot['in total'] + total_income_pivot['debtors']))*100
total_income_pivot.sort_values(by='rate')

                       in total  debtors      rate
total_income_category
D                           328       21  6.017192
B                          4660      354  7.060231
A                            23        2  8.000000
C                         14568     1353  8.498210
E                            20        2  9.090909

**–í—ã–≤–æ–¥:** –õ—é–¥–∏ —Å –¥–æ—Ö–æ–¥–æ–º 30-50–∫, –≤–µ—Ä–Ω—É—Ç –∫—Ä–µ–¥–∏—Ç –±—ã—Å—Ç—Ä–µ–µ –≤—Å–µ–≥–æ.
- 0‚Äì30000 ‚Äî `'E'`;
- 30001‚Äì50000 ‚Äî `'D'`;
- 50001‚Äì200000 ‚Äî `'C'`;
- 200001‚Äì1000000 ‚Äî `'B'`;
- 1000001 –∏ –≤—ã—à–µ ‚Äî `'A'`.

#### 3.4 –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

In [33]:
purpose_dict = data[['debt','purpose_category']].drop_duplicates().reset_index(drop=True)
purpose_dict

   debt          purpose_category
0     0  –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
1     0    –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
2     0     –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
3     0        –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
4     1  –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
5     1        –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
6     1     –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
7     1    –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º

In [34]:
purpose_pivot = data.pivot_table(index = 'purpose_category', columns = 'debt', 
                                                values = 'purpose', aggfunc = 'count')

purpose_pivot.columns = ['in total', 'debtors']
purpose_pivot['rate'] = (purpose_pivot['debtors'] / (purpose_pivot['in total'] + purpose_pivot['debtors']))*100
purpose_pivot.sort_values(by='rate')

                          in total  debtors      rate
purpose_category
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é      9971      780  7.255139
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã            2130      183  7.911803
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è         3619      369  9.252758
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º        3879      400  9.347978

**–í—ã–≤–æ–¥:** –í—ã–¥–∞–≤–∞—Ç—å –∫—Ä–µ–¥–∏—Ç—ã –¥–ª—è –æ–ø–µ—Ä–∞—Ü–∏–π —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –∏ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥–µ–± –¥–ª—è –±–∞–Ω–∫–∞ –±–µ–∑–æ–ø–∞—Å—Ç–Ω–µ–µ.

#### 3.5 –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∏—Å—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

*–û—Ç–≤–µ—Ç:* –°–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ —Ä–∞–±–æ—Ç–Ω–∏–∫–∏ –±–∞–Ω–∫–∞ –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Ç—â–∞—Ç–µ–ª—å–Ω–æ –ø—Ä–æ–≤–µ—Ä—è—é—Ç –∑–∞–ø–æ–ª–Ω–µ–Ω–Ω—ã–µ –∞–Ω–∫–µ—Ç—ã, —Ç.–∫. —á–∞—Å—Ç—å –ª—é–¥–µ–π —Ö–æ—Ç—è—Ç —Å–∫—Ä—ã—Ç—å –¥–æ—Ö–æ–¥—ã –∏ —Å—Ç–∞–∂. –ü–ª—é—Å –≤–æ–∑–º–æ–∂–Ω—ã —Å–±–æ–∏ –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ –∏ –≤—ã–≥—Ä—É–∑–∫–µ –¥–∞–Ω–Ω—ã—Ö.

#### 3.6 –û–±—ä—è—Å–Ω–∏—Ç–µ, –ø–æ—á–µ–º—É –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º ‚Äî –ª—É—á—à–µ–µ —Ä–µ—à–µ–Ω–∏–µ –¥–ª—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.

*–û—Ç–≤–µ—Ç:* –¢.–∫. —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–∂–∞–µ—Ç –∫–∞—Ä—Ç–∏–Ω—É –æ—Å–æ–±–µ–Ω–Ω–æ –≤ –¥–∞–Ω–Ω—ã—Ö —Å –Ω–µ–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö –∏ –±–æ–ª—å—à–∏–º –¥–∏–∞–ø–∞–∑–æ–Ω–æ–º.

### –®–∞–≥ 4: –æ–±—â–∏–π –≤—ã–≤–æ–¥.

1) –í –†–∞–±–æ—Ç–µ –±—ã–ª–∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω—ã –¥–∞–Ω–Ω—ã–µ –æ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–µ –ø–ª–∞—Ç–µ–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.
–ë—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö –∑–∞–ø–∏—Å—è—Ö —Å—Ç–æ–ª–±—Ü–æ–≤. –í–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã - —Å–±–æ–π —Å–∏—Å—Ç–µ–º—ã –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ/–≤—ã–≥—Ä—É–∑–∫–µ –¥–∞–Ω–Ω—ã—Ö –∏–∑ –±–∞–∑—ã.
–¢–∞–∫–∂–µ –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∏ –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è. –ü—Ä–∏—á–∏–Ω–∞–º–∏ –º–æ–≥–ª–∏ —Å—Ç–∞—Ç—å –æ—à–∏–±–∫–∏ –ø—Ä–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏ –¥–∞–Ω–Ω—ã—Ö, –∞ —Ç–∞–∫–∂–µ —Å–±–æ–∏ –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö. –¢–æ—á–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –Ω–∞–∑–≤–∞—Ç—å —Å–ª–æ–∂–Ω–æ. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –¥–∞–ª—å–Ω–µ–π—à–µ–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –æ—à–∏–±–æ–∫ —Å —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞–º–∏ –±–∞–Ω–∫–∞.
–î–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ total_income –±—ã–ª–∏ –∑–∞–º–µ–Ω–µ–Ω—ã –º–µ–¥–∏–∞–Ω–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≥—Ä—É–ø–ø —Å —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–º —É—Ä–æ–≤–Ω–µ–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–æ–≤.

2) –ü–æ—Å–ª–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –±—ã–ª–∞ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–∞ 71 –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —Å—Ç—Ä–æ–∫–∞. –ü–æ—Å–∫–æ–ª—å–∫—É –≤ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–≤ –∫–ª–∏–µ–Ω—Ç–æ–≤, –Ω–µ–≤–æ–∑–º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å —Ç–æ—á–Ω–æ —Å–∫–∞–∑–∞—Ç—å, –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω—ã –ª–∏ –¥–∞–Ω–Ω—ã–µ –æ–¥–Ω–∏—Ö –∏ —Ç–µ—Ö –∂–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏–ª–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ —Ä–∞–∑–Ω—ã–º –∫–ª–∏–µ–Ω—Ç–∞–º —Å–æ–≤–ø–∞–ª–∞ —Å–ª—É—á–∞–π–Ω—ã–º –æ–±—Ä–∞–∑–æ–º.
–î—É–±–ª–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –∑–∞–ø–∏—Å–∏ –±—ã–ª–∏ —É–¥–∞–ª–µ–Ω—ã –≤ —É—á–µ–±–Ω—ã—Ö —Ü–µ–ª—è—Ö.

3) –°—Ä–µ–¥–∏ —Ü–µ–ª–µ–π –Ω–∞ –ø–æ–ª—É—á–µ–Ω–∏–µ –∫—Ä–µ–¥–∏—Ç–∞ –±—ã–ª–æ –≤—ã–¥–µ–ª–µ–Ω–æ 4 –æ—Å–Ω–æ–≤–Ω—ã–µ –≥—Ä—É–ø–ø—ã: —Å–≤–∞–¥—å–±–∞, –∞–≤—Ç–æ–º–æ–±–∏–ª—å, –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ, –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å.

4) –ë—ã–ª–∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω—ã –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫—Ä–µ–¥–∏—Ç–∞–º –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ, —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è, —É—Ä–æ–≤–Ω—è –º–µ—Å—è—á–Ω–æ–≥–æ –¥–æ—Ö–æ–¥–∞ –∏ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞.
–î–∞–Ω–Ω—ã–µ –≤—ã–≤–µ–¥–µ–Ω—ã –≤ —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã. –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ —Ä–∞—Å—Å—á–∏—Ç–∞–Ω—ã –¥–æ–ª–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—è–º–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.
–í –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏—è—Ö –≤—ã–±–æ—Ä–∫–∏ –æ–∫–∞–∑–∞–ª–∏—Å—å —Å—Ä–∞–≤–Ω–∏—Ç–µ–ª—å–Ω–æ –º–∞–ª—ã, —á—Ç–æ –Ω–µ –ø–æ–∑–≤–æ–ª—è–µ—Ç –¥–µ–ª–∞—Ç—å –æ–¥–Ω–æ–∑–Ω–∞—á–Ω—ã–µ –≤—ã–≤–æ–¥—ã –æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞—Ö –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–π. –í–æ–∑–º–æ–∂–Ω—ã–µ –ø—É—Ç–∏ —Ä–µ—à–µ–Ω–∏—è –ø—Ä–æ–±–ª–µ–º—ã - –Ω–∞—Ä–∞—â–∏–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–ü–æ –≤—Å–µ–º –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –¥–æ–ª–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—è–º–∏ –Ω–µ –ø—Ä–µ–≤—ã—à–∞–ª–∞ 10%, –∞ —Ä–∞–∑–ª–∏—á–∏—è –∑–Ω–∞—á–µ–Ω–∏–π –º–µ–∂–¥—É –æ—Ç–¥–µ–ª—å–Ω—ã–º–∏ –≥—Ä—É–ø–ø–∞–º–∏ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è –Ω–µ –ø—Ä–µ–≤—ã—à–∞–ª–∏ 3.5%.

5) –ü–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –∞–Ω–∞–ª–∏–∑–∞ –º–æ–∂–Ω–æ —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –ø–æ—Ä—Ç—Ä–µ—Ç–Ω–∞–∏–±–æ–ª–µ–µ –±–ª–∞–≥–æ–Ω–∞–¥—ë–∂–Ω–æ–≥–æ –∫—Ä–µ–¥–∏—Ç–æ—Ä–∞.